:root {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

dialog {
    border: none;
    padding: 0;
    width: 100%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.45);
}

img,
svg {
    display: block;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: none;
}

.Scroll-lock {
    overflow: hidden;
}