:root {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

dialog {
    border: 0px white solid;
    padding: 0px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.45);
}

img,
svg {
    display: block;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: none;
}

#container {
    font-size: 1.1rem;
}

.divColor {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#container p {
    margin: 0rem 0.3rem 0.2rem;
}

.littleData {
    color: gray;
    font-size: 0.7rem;
}

.standardButton {
    background-color: rgb(156, 97, 186);
    height: 4rem;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    transition: background-color 0.3s linear;
}

.standardButton:hover {
    background-color: rgb(240, 211, 255);
    transition: background-color 0.1s linear;
}

.LinkNews {
    background-color: rgb(246, 227, 255);
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.LinkNews:hover {
    background-color: rgb(195, 79, 253);
    transition: background-color 0.1s linear;
}